<div *ngIf="ml">
    <div class="card-body">
        <h4 class="mb-3">{{mail[0].titulo}}</h4>

        <div class="d-flex mt-4 mb-4">
            <div class="round mr-2 flex-shrink-0">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <span *ngIf="type === 'inbox'" class="font-bold">&lt;{{mail[0].De_deta}}&gt;</span>
                <span *ngIf="type === 'sent'" class="font-bold">&lt;{{mail[0].para_deta}}&gt;</span>
            </div>
            <div class="ml-auto">
                <span class="mail-date"> {{mail[0].fec_reg | date: 'EEEE, d LLL, y'}} </span>
            </div>
        </div>
        <div [innerHTML]="mail[0].detalle" class="mailbox-body"></div>

    </div>
</div>