<div class="mailbox-header-bar p-3 bg-white border-bottom align-items-center">
    <div class="ml-auto">
        <input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Search mail...">
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover no-wrap">
        <tbody>
            <tr class="unread">
                <td></td>
                <td class="sender">De:</td>
                <td class="subject">Titulo:</td>
                <td class="date">Fecha:</td>
            </tr>
            <ng-container *ngIf="in">
                <tr *ngFor="let mail of mailsIn">
                    <td></td>
                    <td (click)="goToDetail(mail.cod_mens)" class="sender">{{ mail.De_deta }}</td>
                    <td (click)="goToDetail(mail.cod_mens)" class="subject" [innerHTML]="mail.titulo "></td>
                    <td (click)="goToDetail(mail.cod_mens)" class="date">{{mail.fec_reg | date: 'EEEE, d LLL, y'}}</td>
                </tr>
            </ng-container>
            <ng-container *ngIf="se">
                <tr *ngFor="let mail of mailsSe">
                    <td></td>
                    <td (click)="goToDetail(mail.cod_mens)" class="sender">{{ mail.Para_deta }}</td>
                    <td (click)="goToDetail(mail.cod_mens)" class="subject" [innerHTML]="mail.titulo "></td>
                    <td (click)="goToDetail(mail.cod_mens)" class="date">{{mail.fec_reg | date: 'EEEE, d LLL, y'}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>