<div class="mailbox-header-bar p-3 bg-white border-bottom align-items-center">
    <div class="ml-auto">
        <input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Search mail...">
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover no-wrap">
        <tbody>
            <tr class="unread">
                <td></td>
                <td class="sender">De:</td>
                <td class="subject">Titulo:</td>
                <td class="date">Fecha:</td>
            </tr>
            <ng-container *ngIf="in">

                <tr *ngFor="let mail of mailsIn | slice: (pageIn-1) * 10 : (pageIn-1) * pageSize + pageSize">
                    <td></td>
                    <td (click)="goToDetail(mail.cod_mens)" class="sender">{{ mail.De_deta }}</td>
                    <td (click)="goToDetail(mail.cod_mens)" class="subject" [innerHTML]="mail.titulo "></td>
                    <td (click)="goToDetail(mail.cod_mens)" class="date">{{mail.fec_reg | date: 'EEEE, d LLL, y'}}</td>
                </tr>

            </ng-container>
            <ng-container *ngIf="se">

                <tr *ngFor="let mail of mailsSe | slice: (pageSe-1) * pageSize : (pageSe-1) * pageSize + pageSize">
                    <td></td>
                    <td (click)="goToDetail(mail.cod_mens)" class="sender">{{ mail.Para_deta }}</td>
                    <td (click)="goToDetail(mail.cod_mens)" class="subject" [innerHTML]="mail.titulo "></td>
                    <td (click)="goToDetail(mail.cod_mens)" class="date">{{mail.fec_reg | date: 'EEEE, d LLL, y'}}</td>
                </tr>

            </ng-container>
        </tbody>
    </table>
    <ngb-pagination *ngIf="in" class="d-flex justify-content-center" [(page)]="pageIn" [pageSize]="pageSize" [collectionSize]="collectionSizeIn" [maxSize]="5">
    </ngb-pagination>
    <ngb-pagination *ngIf="se" class="d-flex justify-content-center" [(page)]="pageSe" [pageSize]="pageSize" [collectionSize]="collectionSizeSe" [maxSize]="5">
    </ngb-pagination>
</div>