<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <form ngNativeValidate [formGroup]="forma" class="form-horizontal form-material" id="loginform" #loginForm="ngForm">
            <div class="card-header">
                <h3 class="box-title">Atrium</h3>
            </div>
            <div class="card-body">

                <div class="form-group row">
                    <div class="col-md-4 font-14" *ngFor="let type of typelog; let i = index">
                        <div class="custom-control custom-radio pull-left">
                            <input class="custom-control-input" id="cust{{i}}" formControlName="typelog" type="radio" name="typelog" [(ngModel)]="log" [value]="type.value" required="">
                            <label class="custom-control-label" for="cust{{i}}">{{type.title}}</label>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="user" class="form-control" name="email" type="text" required="" [(ngModel)]="user.USERNAME" placeholder="Username"> </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input formControlName="pass" class="form-control" name="password" type="password" required="" [(ngModel)]="user.PASS" placeholder="Password"> </div>
                </div>

            </div>

            <div class="col-xs-12">
                <a class="btn btn-custom btn-block waves-effect waves-light" (click)="logIn()">Log In</a>
            </div>


        </form>
    </div>
</div>