<div class="email-container pr-3 pl-3">
    <div class="row">
        <div class="col-sm-3 col-md-2 bg-info">

            <h3 class="mb-0 mt-3 text-white"> Mailbox <a class="text-white float-right custom-control-button" (click)="openClleft()" href="javascript:void(0)"><i class="ti-menu"></i></a> </h3>
        </div>
        <div class="col-sm-9 col-md-10 bg-info">
            <div class="pb-3 pt-3 d-flex">

                <div class="ml-auto">
                    <div class="btn-group btn-group-sm">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 bg-white  b-r">
            <div class="inbox-panel" [ngClass]="status ? 'showlpanel' : ''">

                <a [routerLink]="['mail-compose']" class="btn btn-danger btn-sm btn-block mt-3" role="button">REDACTAR</a>

                <ul class="list-group mt-3 custom-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center"><a [routerLink]="['mail-list/inbox']"> Recibidos </a><span class="badge badge-info badge-pill"></span></li>
                    <li class="list-group-item"><a [routerLink]="['mail-list/sent']">Enviados</a></li>
                </ul>
                <hr/>
            </div>
        </div>
        <div class="col-md-10 bg-light-part">
            <div class="inbox-right-panel">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>