.d-inline-block,
.dropdown-item,
.btn-outline-primary {
    width: 100%;
}

.btn-group input:disabled {
    background: #ffffff;
    border: 1px solid #ced4da;
}

.dropdown-menu.show {
    width: 100%;
}

.btt-pdn {
    padding-bottom: 1.25rem;
}

.top-pdn {
    border-top: 2px solid rgba(120, 130, 140, 0.13);
    padding-top: 1.25rem;
}

.table th,
.table td {
    padding: 0rem;
}